<form action="comment/create" method="post" id="commentForm">
	<input type="hidden" name="postId" value="{{post._id}}"/>
	<label>Comment</label>
	<textarea name="content" type="text"></textarea>
	<input type="submit" value="Add Comment" id="btnPostComment">
</form>