{{> header}}
<div class="content">
	{{> menu}}
	<section id="viewComments">
		<div class="post">
			{{> postDetails}}
		</div>
		<div class="post post-content">
			{{> createComment}}
		</div>
		{{> commentList}}
	</section>
</div>
{{> footer}}